@import '../../node_modules/bulma/sass/utilities/variables';

// Controls & filters for the listings
.listing-controls {
  display: flex;
  justify-content: space-between;
}

// Main row layout

.listings {
  margin: 20px 0;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

